{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Bottom Bar Start -->
         <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="logo">
                            <a href="">
                                <img src="{% static "img/logo2.png" %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 mx-auto">

                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            {% if request.user.is_authenticated %}
                            <a href="{% url "wishlist" %}" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span></span>
                            </a>
                            <a href="{% url "cart" %}" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span></span>
                            </a>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h2 class="mt-3 text-center text-primary">Welcome to Our Online Clothing Store</h2>
                <p class=" text-center text-danger fw-bold">Explore a wide range of fashionable clothing for every occasion</p>
            </div>



            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 p-3 mt-3">
                            <div class="header-slider normal-slider">
                                <div class="header-slider-item">
                                    <img src="{% static 'img/slider-1.jpg' %}" alt="Slider Image" />
                                    <div class="header-slider-caption">
                                        <p>Elevate your fashion game with our chic and trendsetting clothing line, where style meets comfort in every stitch.</p>
                                        <a class="btn" href="{% url "product" %}"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                    </div>
                                </div>
                                <div class="header-slider-item">
                                    <img src="{% static 'img/slider-2.jpg' %}" alt="Slider Image" />
                                    <div class="header-slider-caption">
                                        <p>Streamline your online shopping experience with secure and convenient payment methods.</p>
                                        <a class="btn" href="{% url "product" %}"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                    </div>
                                </div>
                                <div class="header-slider-item">
                                    <img src="{% static 'img/slider-3.jpg' %}" alt="Slider Image" />
                                    <div class="header-slider-caption">
                                        <p>Uninterrupted 24/7 support ensuring assistance around the clock for a seamless online shopping experience.</p>
                                        <a class="btn" href="{% url "product" %}"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 p-3 mt-3">
                            <div class="header-img d-flex">
                                <div class="img-item">
                                    <img src="{% static 'img/category-1.jpg' %}" alt="Category Image" />
                                    <a class="img-text" href="#">
                                        <p>Some text goes here that describes the image</p>
                                    </a>
                                </div>
                                <div class="img-item">
                                    <img src="{% static 'img/category-2.jpg' %}" alt="Category Image" />
                                    <a class="img-text" href="#">
                                        <p>Some text goes here that describes the image</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="{% static "img/brand-1.png" %}"></div>
                    <div class="brand-item"><img src="{% static "img/brand-2.png" %}"></div>
                    <div class="brand-item"><img src="{% static "img/brand-3.png" %}"></div>
                    <div class="brand-item"><img src="{% static "img/brand-4.png" %}"></div>
                    <div class="brand-item"><img src="{% static "img/brand-5.png" %}"></div>
                    <div class="brand-item"><img src="{% static "img/brand-6.png" %}"></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->

        <!-- Feature Start-->
        <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fab fa-cc-mastercard"></i>
                            <h2>Secure Payment</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-truck"></i>
                            <h2>Worldwide Delivery</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-sync-alt"></i>
                            <h2>90 Days Return</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-comments"></i>
                            <h2>24/7 Support</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End-->

        <!-- Category Start-->
        <div class="category">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="category-item ch-400">
                            <img src="{% static "img/category-3.jpg" %}" />
                            <a class="category-name" href="">
                                <p>Effortlessly stylish, these versatile unisex sneakers seamlessly blend comfort and fashion, making a bold statement for both men and women on the go.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="category-item ch-250">
                            <img src="{% static "img/category-4.jpg" %}" />
                            <a class="category-name" href="">
                                <p>Velvety matte liquid lipstick that glides on effortlessly, delivering intense, long-lasting color with a weightless feel.</p>
                            </a>
                        </div>
                        <div class="category-item ch-150">
                            <img src="{% static "img/category-5.jpg" %}" />
                            <a class="category-name" href="">
                                <p>The QuantumFlow VR headset seamlessly blends cutting-edge virtual reality technology with immersive haptic feedback for an unparalleled sensory experience.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="category-item ch-150">
                            <img src="{% static "img/category-6.jpg" %}" />
                            <a class="category-name" href="">
                                <p>Some text goes here that describes the image</p>
                            </a>
                        </div>
                        <div class="category-item ch-250">
                            <img src="{% static "img/category-7.jpg" %}" />
                            <a class="category-name" href="">
                                <p>Some text goes here that describes the image</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="category-item ch-400">
                            <img src="{% static "img/category-8.jpg" %}" />
                            <a class="category-name" href="">
                                <p>Some text goes here that describes the image</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category End-->

        <!-- Call to Action Start -->
        <div class="call-to-action">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1>call us for any queries</h1>
                    </div>
                    <div class="col-md-6">
                        <a href="tel:0123456789">+012-345-6789</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->

        <!-- Featured Product Start -->
        <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Featured Product</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">
                    {% for c in cloth %}
                    <div class="col-lg-3 p-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">{{c.name}}</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{{c.image.url}}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="{% url "add_to_cart" c.id %}"><i class="fa fa-cart-plus"></i></a>
                                    <a href="{% url "add_to_wishlist" c.id %}"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>{{c.price}}</h3>
                                <a class="btn" href="{% url "myaccount" %}"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Featured Product End -->

        <!-- Review Start -->
        <div class="review">
            <h2 class="text-info text-center fw-bold">Our Happy Client</h2>
            <div class="container-fluid">
                <div class="row align-items-center review-slider normal-slider">

                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="{% static "img/review-1.jpg" %}" alt="Image">
                            </div>
                            <div class="review-text">
                                <h2>Customer Name</h2>
                                <h3>Profession</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et vitae lorem
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="{% static "img/review-2.jpg" %}" alt="Image">
                            </div>
                            <div class="review-text">
                                <h2>Customer Name</h2>
                                <h3>Profession</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et vitae lorem
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="{% static "img/review-3.jpg" %}" alt="Image">
                            </div>
                            <div class="review-text">
                                <h2>Customer Name</h2>
                                <h3>Profession</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et vitae lorem
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Review End -->

{% endblock  %}