{% extends "base.html" %}

{% block content %}
<div class="my-account">
    <h2 class="text-center text-success">Welcome, {{ user.username }}!</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="orders-nav" data-bs-toggle="pill" href="{% url "MyOrderDetails" %}" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                    <a class="nav-link" id="orders-nav" data-bs-toggle="" href="{% url 'update_profile' %}" role="tab">
                      <i class="fa fa-shopping-bag"></i> Account Details
                  </a>
                    <a class="nav-link" href="{% url "logout" %}"><i class="fa fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Product</th>
                                        <th>Order Date</th>
                                        <th>Total Price</th>
                                        <th>Status</th>
                                        <th>Current Situation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for item in order_items %}
                                  <tr>
                                    <td>{{ item.count }}</td>
                                    <td>{{ item.Clothing_item }}</td>
                                    <td>{{ item.date }}</td>
                                    <td>{{ item.total_price }}</td>
                                    <td>Accepted</td>
                                    <td> Delivery Processing</td>
                                  </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% comment %} </div>
                    </div> {% endcomment %}


                    <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Account Details</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Last Name">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Mobile">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Email">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="text" placeholder="Address">
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary">Update Account</button>
                                <br><br>
                            </div>
                        </div>
                        <h4>Password change</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" type="password" placeholder="Current Password">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="New Password">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Confirm Password">
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


